main {
  width: 100%;

  .organization_details {
    padding-top: 25px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    
    .organization_attribute {
      padding-bottom: 25px;
      letter-spacing: 0.3px;
      line-height: 1.3;

      .attribute_header {
        color: $dark-text;

      }

      .attribute_content {
        color: $dark-text;
      }
    }
  
    .navigation_link {
      color: $button-color;
    }
  }
}



@media only screen and (min-width: $widescreen-monitor) {
  main {
    .organization_details {
      text-align: left;
      padding-left: 25px;
    }

    .attribute_content {
      width: 75%;
    }
  }
}