// ========================
// == Colors Definitions ==
// ========================

$green: #6ab29f;
$red: #ed2f2f;
$blue: #4a90e2;
$black: #3d3d3d;
$dark-grey: #999999;
$medium-grey: #ebebeb;
$light-grey: #fafafa;
$white: #ffffff;