//===========
//== Color ==
//===========

$base-error-color: $red;
$base-success-color: $green;
$header-backround-color: $blue;
$button-background-color: $blue;
$dark-text: $black;
$filter-text: $dark-grey;
$content-border: $dark-grey;
$light-text: $light-grey;
$main-background: $light-grey;
$content-background: $white;