//===========
//== Color ==
//===========

$base-error-color: $red;
$base-success-color: $green;
$header-background-color: $blue;
$button-color: $blue;
$dark-text: $black;
$third-heading-text: $darkest-grey;
$filter-text: $dark-grey;
$content-border: $medium-grey;
$light-text: $light-grey;
$main-background: $light-grey;
$content-background: $white;



//=======================
//== Media Query Units ==
//=======================

$widescreen-monitor: 1266px;