<% provide(:title, "Resource Search") %>

<main>
  <section class="eligibility_filters">
    <%= render "eligibility_filters" %>
  </section>

  <section class="organizations">
    <ul class="organizations_list">
      <%= render @organizations %>
    </ul>
  </section>
</main>