<% provide(:title, "Resource Search") %>

<header class="site_header">
  <h1 class="first_heading"><%= yield(:title) %></h1>
</header>

<div>
  <%= render "eligibility_filters" %>
</div>

<ul>
  <%= render @organizations %>
</ul>
