<% provide(:title, @organization.name) %>

<main>
  <section class="organization_details">
    <div class="organization_attribute">
      <strong class="attribute_header">Locations:</strong>
      <% @organization.locations.each do |location| %>
          <div class="attribute_content"><%= location.decorate.address %></div>
      <% end %>
    </div>

    <div class="organization_attribute">
      <strong class="attribute_header">Description:</strong>
      <div class="attribute_content">
        <%= @organization.description %>
      </div>
    </div>

  </section>
  <%= link_to("Back to All Organizations", organizations_path, class: "navigation_link") %>
</main>