<span class="form_options">
  <%= radio_button_tag("query_type", "inclusive", true) %>
  <%= label_tag("query_type_inclusive", "Apply Any") %>
</span>
<span class="form_options">
  <%= radio_button_tag("query_type", "exclusive", false) %>
  <%= label_tag("query_type_exclusive", "Apply All") %>
</span>
